! Dracula color scheme
URxvt.foreground: #F8F8F2
URxvt.background: [90]#282A36
URxvt.color0:     #262626
URxvt.color1:     #E356A7
URxvt.color2:     #42E66C
URxvt.color3:     #E4F34A
URxvt.color4:     #9B6BDF
URxvt.color5:     #E64747
URxvt.color6:     #75D7EC
URxvt.color7:     #EFA554
URxvt.color8:     #7A7A7A
URxvt.color9:     #FF79C6
URxvt.color10:    #50FA7B
URxvt.color11:    #F1FA8C
URxvt.color12:    #BD93F9
URxvt.color13:    #FF5555
URxvt.color14:    #8BE9FD
URxvt.color15:    #FFB86C

URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.font: 		xft:FiraCode:size=11, xft:MesloLGS NF:size=11:style=Bold, xft:PowerlineSymbols
URxvt.scrollBar:	false
URxvt.cursorColor:	white

!! Extensions
URxvt.perl-ext-common:  default,matcher,resize-font,url-select,keyboard-select,tabbedex,fullscreen
URxvt.colorUL:              #4682B4
!! Fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
!! url-select
URxvt.keysym.M-u:   perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
!! resize-font
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
URxvt.iso14755: false
URxvt.iso14755_52: false
!! Matcher
URxvt.url-launcher: linkhandler
URxvt.matcher.button:   1
