! Transparency (0-1):
ST.alpha: 0.9

! Dracula color scheme
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #262626
*.color1:     #E356A7
*.color2:     #42E66C
*.color3:     #E4F34A
*.color4:     #9B6BDF
*.color5:     #E64747
*.color6:     #75D7EC
*.color7:     #EFA554
*.color8:     #7A7A7A
*.color9:     #FF79C6
*.color10:    #50FA7B
*.color11:    #F1FA8C
*.color12:    #BD93F9
*.color13:    #FF5555
*.color14:    #8BE9FD
*.color15:    #FFB86C

*.font: monospace:size=11

URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.font: 		xft:FiraCode:size=11, xft:MesloLGS NF:size=11:style=Bold, xft:PowerlineSymbols
URxvt.scrollBar:	false
URxvt.cursorColor:	white

!! Extensions
URxvt.perl-ext-common:  default,matcher,resize-font,url-select,keyboard-select,tabbedex,fullscreen
URxvt.colorUL:              #4682B4
!! Fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
!! url-select
URxvt.keysym.M-u:   perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
!! resize-font
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
URxvt.iso14755: false
URxvt.iso14755_52: false
!! Matcher
URxvt.url-launcher: linkhandler
URxvt.matcher.button:   1
